<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "Initial Page" content = "face_match front page" >
    <meta name = "robots" content="INDEX, FOLLOW">
    <title>Welcome</title>

    <!-- this is how we include CSS file 
   <link rel="stylesheet" href="Demo_CSS_File.css">
   
   This is how we include javaScript
   <script src="Demo_JS_File.js"> </script> -->


</head>
<body>
    <h1>Welcome to Face Match</h1>
    <h2>Lets Find a Match</h2> 
    <p>This project is developed to find a match based on your facial features. </p>
    <p>This is Matching page below this are found matches</p>
    <hr>
        The following image works as a link to the user's profile:<br>

        <h2>Matched Users based on facial features are listed below</h2>
        <img src="/static/{{lady}}" alt="HTML5 Icon" style="width:128px;height:128px;">
        <hr>
            <a href="user11.html">
                <img src="/static/assets/img/Faces/Male/{{m1}}" alt="HTML5 Icon" style="width: 150px;height:130px;">
            </a>
            <p> </p>
            <a href="user12.html">
                <img src="/static/assets/img/Faces/Male/{{m2}}" alt="HTML5 Icon" style="width:150px;height:130px;">
            </a>
        
        
        
</body>
</html>
